
.newsHeaderColor {
    background-color: #385E9D;
}

.newsFontHeaderColor {
    color: #385E9D !important;
}

body {
    background: #ffff !important;
}

.bottomHeader{
    border-bottom-style: inset;
    height: 63px !important;
}

.bg-light{
    background-color: #ffff !important;
}

.newsBody {
    margin-top: 20px;
}

.mainTitleNews {
    font-size: 20px;
}

.lead {
    font-size: 15px;
    color: #646464;
    line-height: 43px;
    padding-right: 10px;
    margin-top: 10px;
    background: #f1f1f1;
    border-radius: 8px 0 8px 0;
}

.newsImg {
    width: 100%;
    height: 410px;
    margin-top: 15px;
    background-position: center center;
    background-size: cover;
    border-radius: 8px 0 8px 0;
}

.newsImg img {
    width: 100%;
    height: 100%;
    border-radius: 8px 0 8px 0;
}

.newsParagraph {
    margin-top: 30px;
    text-align: justify;
    line-height: 32px;
    font-size: 15px;
}

.twiceDiv {
    width: 100%;
    height: 57px;
    margin-top: 1rem;
}

.rightDiv, .lefttDiv {
    width: 49%;
    height: 100%;
    border-radius: 8px 0 8px 0;
    border-style: dashed;
    border-color: #FFB81C;
    border-width: 1px;
}

.rightDiv {
    float: right;
    margin-left: 15px;
    padding: 10px;
}

.rightDiv span {
    font-size: 12px;
    float: right;
    margin-top: 10px;
}

.rightDiv img {
    float: left;
    width: 43px;
    height: 35px;
    margin-left: 20px;
}

.lefttDiv {
    float: right;
    padding: 10px;
}

.lefttDiv span {
    font-size: 12px;
    float: left;
    margin-top: 10px;
    margin-left: 80px;
}

.lefttDiv img {
    float: right;
    width: 43px;
    height: 35px;
}



.porBazdid{
    margin-bottom: 15px;
}

.PBLeads {
    width: 100%;
    height: 455px;
    background-color: #f1f1f1;
    border-radius: 8px 0 8px 0;
}

.PBLeadsItem{
    position: relative;
    width: 100%;
    height: 65px;
    border-bottom: #cecece;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
}

.newsNumber {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    font-size: 18px;
    top: 17px;
    font-weight: bold;
    padding-top: 2px;
    background-color: #fff;
    color: #ffb81c;
    text-align: center;
    border-radius: 8px 0 8px 0;
}

.PBLeadsItem span {
    position: absolute;
    width: 61%;
    right: 45px;
    top: 22px;
    font-size: 12px;
}

.newsNoBorder {
    border: none;
}


.newsAds {
    width: 100%;
    height: 142px;
    background-position: center center;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 8px 0 8px 0;
}

.newsAds img {
    width: 100%;
    height: 100%;
    border-radius: 8px 0 8px 0;
}

.Social {
    padding-right: 18px;
    margin-top: 444px;
}

.Social img {
    width: 37px;
    height: auto;
}

.baazaar {
    position: relative;
    width: 100%;
    height: 36px;
    margin-bottom: 15px;
    background-color: #87dcf9;
    border-radius: 8px 0 8px 0;
}

.baazaar img {
    position: absolute;
    width: 35px;
    height: auto;
    left: 10px;
    top: 0;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.baazaar span {
    position: absolute;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    top: 4px;
    right: 9px;
}

.adsNative {
    height: 473px;
}

.baazaarNews {
    position: relative;
    width: 100%;
    height: 42px;
    background-color: #87dcf9;
    border-radius: 8px 0 8px 0;
}

.baazaarNews img {
    position: absolute;
    width: 48px;
    height: auto;
    left: 10px;
    top: 6px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.baazaarNews span {
    position: absolute;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    top: 9px;
    right: 9px;
}

.newsList {
    height: 414px;
    width: 100%;
    background-color: #E9FAFC;
    border-radius: 5px 0;
}

.newsListItem {
    position: relative;
    width: 100%;
    height: 69px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cecece;
}

.newsListItem:hover >.newsListItemSpan {
    color: #ffb81c;
    transition: all 0.3s;
}

.newsListItemImg {
    position: absolute;
    background-position: center center;
    background-size: cover;
    width: 105px;
    height: 52px;
    right: 10px;
    top: calc(50% - 26px);
}

.newsListItemImg img {
    width: 100%;
    height: 100%;
}

.newsListItemSpan {
    position: absolute;
    font-size: 12px;
    right: 130px;
    top: calc(50% - 9px);
}

.lastItem {
    border-style: none;
    border-width: 0;
}

.tags {
    width: 100%;
    height: 32px;
    margin-top: 30px;
}

.tag {
    display: inline-block;
    line-height: 18px;
    background-color: #e9ecef;
    font-size: 13px;
    color: #3b3b3b;
    padding: 5px;
    border-radius: 8px 0;
    margin-left: 1px;
}

.tag:hover {
    background-color: #ffb81c;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.relatedNews {
    width: 100%;
    height: 175px;
    margin-top: 35px;
}

.relatedNews h2 {
    color: #ffb81c;
    font-size: 16px;
    font-weight: bold;
}

.relatedNewsLiBox {
    width: 100%;
    height: 49px;
    border-bottom-style: solid;
    border-bottom-color: #cecece;
    border-bottom-width: 1px;
    position: relative;
}

.relatedNewsLiBox img {
    position: absolute;
    top: 16px;
}

.relatedNewsLiBox h6 {
    position: absolute;
    color: #0000d9;
    right: 20px;
    font-size: 14px;
    top: 16px;
}

.relatedNewsLiBox span {
    position: absolute;
    color: #0000d9;
    left: 0;
    top: 16px;
    font-size: 14px;
}

.twiceSocialDiv {
    width: 100%;
    height: 57px;
    margin-top: 25px;
}

.twiceSocialRDiv {
    float: right;
    margin-left: 15px;
    padding: 10px;
}

.twiceSocialRDiv img {
    width: 90%;
    height: auto;
    margin-right: 15px;
}

.twiceSocialLDiv {
    float: right;
    padding: 10px;
    text-align: center;
    padding: 23px;
}

.twiceSocialLDiv, .twiceSocialRDiv {
    width: 49%;
    height: 100%;
    background-color: #E9FAFC;
    border-radius: 8px 0 8px 0;
}

.bigAds {
    width: 100%;
    height: 321px;
    margin-top: 10px;
}

.bigAds img {
    width: 100%;
    height: auto;
    margin-bottom: 6px;
    border-radius: 8px 0;
}

.todayOffer {
    width: 100%;
    height: 817px;
}

.todayOfferSign {
    width: 100%;
    height: 34px;
    margin-bottom: 10px;
    background-color: #87dcf9;
    border-radius: 8px 0;
    position: relative;
}

.todayOfferSign h6{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    right: 8px;
    top: 7px;
}

.yektaNet {
    position: absolute;
    width: 107px;
    height: 27px;
    left: 5px;
    top: 5px;
}

.yektaNumber {
    float: left;
    width: 25px;
    height: auto;
}

.yektaLogo {
    float: right;
    width: 48px;
    height: auto;
    display: none;
}

.yektaSpan {
    float: right;
    font-size: 12px;
    margin-top: 3px;
}

.yektaNet:hover >.yektaLogo{
    display: block;
}

.yektaNet:hover >.yektaSpan{
    display: none;
}

.offerItem {
    width: 100%;
    height: 257px;
}

.offerItemImg {
    width: 100%;
    height: 175px;
    background-position: center center;
    background-size: cover;
}

.offerItemImg img {
    width: 100%;
    height: 100%;
}

.offerItemSpan {
    font-size: 13px;
    line-height: 15px;
    width: 100%;
}

.offerItem:hover >.offerItemSpan {
    color: red;
}